[package]
name = "ssh-agent-ac"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4", features = ["derive"] }
tokio = { version = "1", features = ["full"] }
ssh-agent-lib = "0.5.1"
